
@model Volton.Models.NavigationViewModel

<!-- Navigation Buttons-->
<div class="d-flex justify-content-between mt-5 mb-5 pb-5">
    <a class="btn px-4 py-2 text-small @(string.IsNullOrEmpty(Model.PrevAction) ? "disabled" : "")" asp-controller="Application" asp-action="@Model.PrevAction">Previous</a>

    <button type="@(Model.IsFormSubmission ? "submit" : "button")"
            id="@Model.NextButtonId"
            class="btn btn-primary px-5 py-2 text-small @(Model.IsFormSubmission ? "disabled" : "")"
            onclick="@(Model.IsFormSubmission ? null : $"window.location.href='{Url.Action(Model.NextAction, "Application")}'")"
            aria-disabled="@(Model.IsFormSubmission ? "true" : "false")"
            tabindex="@(Model.IsFormSubmission ? "-1" : null)">
        Next
    </button>
    
</div>
